# # Environment files
# .env
# **/.env

# Keep example files
# .env.example
# **/.env.example
# **/.env.local
# **/.env.local.example

# Dependencies
node_modules/
backend-python/venv/
backend-python/__pycache__/
backend-python/**/__pycache__/

# Build outputs
dist/
build/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
backend-python/uploads/*
!backend-python/uploads/.gitkeep

# Docker
*.log
