# Database
DATABASE_URL=postgresql://user:password@localhost:5432/klens
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your-secret-key-change-in-production
JWT_EXPIRES_IN=200m

# Google Gemini
GEMINI_API_KEY=AIzaSyCX7ts3qfq_ovRHz4MA6ozOXZKmU-N-Bek

# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883

# Server
PORT=3000
NODE_ENV=development

# File Upload
MAX_FILE_SIZE=52428800
UPLOAD_DIR=./uploads
